@model IEnumerable<BlogDetail> 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    var yourStyle = "";
    if(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Blogs")
    {
        yourStyle = "margin-top:10%";
    }
    else if(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Blog")
    {
        yourStyle = "margin-top:9%";
    }
    else if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Contact")
    {
        yourStyle = "margin-top:18%";
    }
    else
    {
        yourStyle = "";
    }
}
<div class="sidebar-box" style="@yourStyle" >
     
     
    <h3 class="heading">Çok Okunanlar</h3>
    <div class="post-entry-sidebar">
        <ul>
            @foreach (var blog in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Blog" asp-route-SlugUrl="@blog.SlugUrl">
                        <img src="/Home/Blog/Img/@(blog.ImageUrl == null ? "no-image.png" : blog.ImageUrl)" alt="Image placeholder" class="mr-4" style="width:90px;height:60px;">
                        <div class="text">
                            <h4>@blog.Title</h4>
                            <div class="post-meta">
                                <span class="mr-2">@blog.DateAdded.ToString("dd MMM yyyy") </span>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
