@model Contact
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade bd-example-modal-lg" id="editContactModal" tabindex="-1" role="dialog" aria-labelledby="editContactModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yorum Ayrıntısı</h5>
            </div>
            <form id="replyMessage" asp-controller="Admin" asp-action="ReplyMessage" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="hidden" asp-for="Id" value="" />
                        <input type="hidden" asp-for="IsRead" value="" />
                        <input readonly type="text" class="form-control" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input readonly type="text" class="form-control" asp-for="Email" placeholder="Enter Category Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="dateAdded"></label>
                        <input readonly type="text" class="form-control" asp-for="dateAdded" placeholder="Enter Category Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <input readonly type="text" class="form-control" asp-for="Message" placeholder="Enter Category Name">
                    </div>
                    <div id="replySection" class="form-group">
                        <label> Yanıt: </label>
                        <textarea name="reply" id="reply">                            
                        </textarea>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <label id="ajax-loading" style="float:left;display:none">
                        <img height="50px" src="~/Admin/img/loading.gif" />
                    </label>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="replyBtn" class="btn btn-success">Yanıt Ver</button>
                </div>
            </form>
        </div>
    </div>
</div>