@model Contact
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-lg-12 main-content">
    <div class="mt-5 mb-5">
        <h1>İletişim</h1>
    </div>

    <form id="ContactForm" asp-controller="Home" asp-action="Contact" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control ">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control ">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" class="form-control " cols="30" rows="8"></textarea>
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <div style="" class="g-recaptcha" data-sitekey="6LcUiOUdAAAAAGi8Vkm4CYDhPzTriSDKApeklCXZ"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">

                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </div>
    </form>
</div>
@section Contact {
    <script src="/Home/js/iziToast.js"></script>
    <script src="~/Home/js/Contact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

